**/*.wav
**/*.mp4
**/sensorTestOutput.dat
**/models/**
**/*.bag
**/*.pyc
**/*cpython*
__pycache__/
**/*.png
**/*.svg
**/cssr4africa_virtual_envs/**
**/BehaviorTree.CPP/**
**/rtabmap_ros-0.21.10-noetic/**
**/ydlidar_ros_driver/** */