<launch>
  <!-- Run the Face Detection Node -->
  <node name="face_detection" pkg="cssr_system" type="face_detection_application.py" output="screen"/>
  
  <!-- Add a delay -->
  <arg name="startup_delay" value="1.0" />
  <param name="startup_delay" value="$(arg startup_delay)" />
  
  <!-- Launch the face detection test node with a slight delay -->
  <node name="face_detection_test" pkg="unit_test" type="face_detection_test_application.py" 
        output="screen" launch-prefix="bash -c 'sleep $(arg startup_delay); $0 $@'">
  </node>
</launch>