<launch>
    <!-- Start the main sound detection node -->
    <node pkg="cssr_system" type="sound_detection_application.py" name="soundDetection" output="screen" required="true"/>
    
    <!-- Start the sound detection test node -->
    <node pkg="unit_tests" type="sound_detection_test_application.py" name="soundDetectionTest" output="screen" />
</launch>